
    <div>
        <h3>Top World Marathons</h3>
        <a href="https://youtu.be/YuR5mGOW7sg">My Project Video</a>
    </div>
    <div class="social">
        <a href="https://www.instagram.com/floreserick10/" target="_blank"><img src="images/instagram1.svg" alt="instagram"
                width="16" height="16"></a>
        <a href="https://www.linkedin.com/in/erick-flores-311a04257/" target="_blank"><img src="images/linkedin1.svg"
                alt="linked in" width="16" height="16"></a>
        <a href="https://github.com/ef10res" target="_blank"><img src="images/github1.svg" alt="github" width="16"
                height="16"></a>
    </div>
    <div>
        <p>WDD 330 Final Project</p>
        <p>Erick Flores</p>
        <span id="currentyear"></span>
        <p id="lastModified"></p>
    </div>