#hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

header {
    background-color: #0073CF;
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

nav {
    background-color: silver;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    color: darkblue;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p {
    color: black;
    font-family: 'Inter', sans-serif;
}

footer {
    font-family: 'Inter', sans-serif;
}

footer>div>a {
    color: black;
}

footer>div>p,
footer>div>span {
    color: black;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;

}

header span {
    font-size: 1.2rem;
    color: silver;
}

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: silver;
}

h2 {
    background-color: #ccc;
    color: darkblue;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

button {
    display: block;
    align-items: center;
    width: 100%;
}

div {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: solid #ccc;
    border-radius: 10px;
    background-color: #ddd;
    width: 100%;
}

.card:hover {
    animation: zoom-pulse 2s ease-in-out infinite;
}

#races-list>div:hover {
    animation: zoomIn 2s ease-out forwards;
}

h3 {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

#town {
    color: black;
    font-size: larger;
}

.form {
    font-family: 'Inter', sans-serif;
    color: silver;
    height: auto;
}

fieldset {
    width: 400px;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
select {
    display: block;
    margin: 15px 15px;
    width: 375px;
    height: 35px;
}

textarea {
    display: block;
    width: 375px;
    height: 90px;
    margin: 10px 10px;
}

.submit {
    width: 190px;
    margin: auto;
    animation: pulse 1.5s infinite ease-in-out;
}

.submit:hover {
    animation: shake 0.5s ease-in-out;
}

#flag {
    width: 100px;
    margin: auto;
    background-color: #0073CF;
    color: white;
    border-radius: 20%;
}

#dialogBox {
    width: 400px;
    color: #0073CF;
}

#dialogBox>div {
    background-color: white;
}

#dialogBox::backdrop {
    background-color: #0073CF;
}

#map {
    height: 400px;
    /* Or any height */
    width: 100%;
}

#info {
    display: block;
    margin: 0 auto;
    width: 300px;
    align-items: center;
    justify-content: center;
    animation: pulse 1.5s infinite ease-in-out;
}

#info:hover {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00);
    background-size: 400%;
    animation: glowing 20s linear infinite;
}

.page {
    display: block;
    margin: 0 auto;
    width: 300px;
    animation: slide-in-left 1s ease-out forwards;
}

.page:hover {
    animation: pulse 1.5s infinite ease-in-out;
}

a {
    text-decoration: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
        /* Starting size */
    }

    100% {
        transform: scale(1.5);
        /* Final zoomed size */
    }
}