@media only screen and (min-width: 591px) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    #home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #races-main {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #join {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #sydney {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #races-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 

}