.hamburger {
    background: none;
    border: none;
    color: silver;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: darkblue;
    text-decoration: none;
    border-bottom: solid 1px silver;
}

.navigation li.current {
    background-color: #eee;
}

.navigation li a:hover {
    background-color: white;
}

